@page "/"

<PageTitle>Home</PageTitle>

<h1>Kampung Manage: Project Management Website</h1>
<h2>Welcome to Kampung Manage, your go-to solution for seamless project management. We're thrilled to have you on board!</h2>
<div class="steps">
    <h3>Get Started in 3 Simple Steps</h3>
    <ol>
        <li>Create a Project<ul><li>Set up your first project in minutes.
            Name it, Set Deadlines,a and Started adding tasks!
        </li></ul></li>
        <li>Add your Team <ul><li>Add Team members to assign to certain task</li></ul></li>
        <li>Track your Progress <ul><li>Monitor your project's Progress according to task completed</li></ul></li>
    </ol>
        


</div>


